$primary: #712cf9;
$primary-subtle: #702cf945;
$pink: #f91880;
$pink-subtle: #f918801a;
$success: #0eb17c;
$success-subtle: #00ba7c1a;
$light: #e7e9ea;
$light-2: #eff3f4;
$dark-2: #202327;
$dark-subtle: #1a1d20;
$black-subtle: #060606;
$danger: #dc3545;
$secondary: #6c757d;
$info: #0dcaf0;
$warning: #ffc107;
